.card {
    width: 80%;
    margin: 7% auto;
    background-color: #fdfff2;
    border: 1px solid #fdfff2;
    font-family: 'Roboto';

}

.lorem {
    color: #516ea0;
    font-size: 18px;
}

.card span {
    color: #516ea0;
    font-size: 35px;
    text-align: center;
}
