* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header {
    width: 100%;
    height: 100%;
    background-image: url('./image/first.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
}

footer {
    width: 100%;
    height: 100%;
    background-image: url('./image/second.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 30;
}

.images {
    margin-left: 17%;
}

#mosque {
    position: absolute;
    height: 100%;
    top: 8%;
    z-index: 20;
    animation: anime linear 7s;
}

.about {
    color: #fdfff2;
    font-size: 22px;
    text-decoration: none;
    position: absolute;
    right: 23%;
    font-weight: bold;
    top: 4%;
}

#tower {
    position: absolute;
    height: 100%;
    top: 10%;
    z-index: 10;
    animation: tower linear 7s;
}

#gumbaz {
    position: absolute;
    width: 95%;
    height: 100%;
    top: 9%;
    left: 10%;
    animation: gumbaz linear 9s;
    animation-delay: 2s;
}

.batafsil {
    background-color: #321046;
    border: 2px solid #fdfff2;
    border-radius: 30px;
    color: #fdfff2;
    font-family: Arial;
    font-size: 28px;
    height: 9%;
    width: 13%;
    position: absolute;
    bottom: 11%;
    left: 18%;
    animation: batafsil linear 10s;
}

.batafsil:hover {
    background-color: #fdfff2;
    color: #4800a0;

}


.letsGo {
    background-color: #fdfff2;
    border: 1px solid #11679175;
    border-radius: 30px;
    color: #4800a0;
    font-weight: bold;
    font-size: 23px;
    height: 7%;
    width: 10%;
    position: relative;
    left: 85%;
    top: 3%;
    z-index: 20;
    animation: mymove 5s infinite;
}

.letsGo:hover {
    background-color: #fdfff2;

    color: #a04835;
}


#moon {
    position: absolute;
    height: 100%;
    transform: scale(1.1);
    left: 15.5%;
    animation: moon linear 5s;

}

#cloud {
    position: absolute;
    height: 100%;
    width: 100%;
    animation: cloud linear 5s;
}

@keyframes anime {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}


@keyframes gumbaz {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes tower {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes moon {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes cloud {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}
